/* Add CSS Styling */
.odd {
    background-color: #f7a8a8;
    font-family: Verdana, "DejaVu Sans", sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.cool {
    font-size: 24px;
}

#fourth {
    background-color: #90ee90;
    font-size: 24px;
    font-weight: bold;
}